.w3-theme-l5 {color:#000 !important; background-color:#006BD6 !important}
.w3-theme-l4 {color:#000 !important; background-color:#F2F2F2 !important}
.w3-theme-l3 {color:#F2F2F2 !important; background-color:#006BD6 !important}
.w3-theme-l2 {color:#F2F2F2 !important; background-color:#006BD6 !important}
.w3-theme-l1 {color:#F2F2F2 !important; background-color:#006BD6 !important}
.w3-theme-d1 {color:#F2F2F2 !important; background-color:#000000 !important}
.w3-theme-d2 {color:#F2F2F2 !important; background-color:#000000 !important}
.w3-theme-d3 {color:#F2F2F2 !important; background-color:#000000 !important}
.w3-theme-d4 {color:#F2F2F2 !important; background-color:#000000 !important}
.w3-theme-d5 {color:#F2F2F2 !important; background-color:#000000 !important}

.w3-theme-light {color:#000 !important; background-color:#f2f2f2 !important}
.w3-theme-dark {color:#F2F2F2 !important; background-color:#000000 !important}
.w3-theme-action {color:#F2F2F2 !important; background-color:#000000 !important}

.w3-theme {color:#F2F2F2 !important; background-color:#006BD6 !important}
.w3-text-theme {color:#000000 !important}
.w3-border-theme {border-color:#000000 !important}

.w3-hover-theme:hover {color:#F2F2F2 !important; background-color:#000000 !important}
.w3-hover-text-theme:hover {color:#000000 !important}
.w3-hover-border-theme:hover {border-color:#000000 !important}